body, select {
    background-color: #333;
    color: #666;
}

header, main {
    position: relative;
    width: 90%;
    height: auto;
    border: solid burlywood 0.5px;
    border-radius: 1rem;
    margin: 20px auto;
    padding: 20px;
}

ul {
    display: inline-flex;
    margin: auto;
}

li {
    margin-right: 2rem;
    vertical-align: middle;

}

#nom {
    text-transform: uppercase;
}

input, select {
    background-color: #333;
    border: burlywood solid 0.1px;
}